@model IEnumerable<Outfit_Picker.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bottom.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shoe.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Top.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutfitName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bottom.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shoe.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Top.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutfitName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutfitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutfitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutfitID })
        </td>
    </tr>
}

</table>
